.parts-list-container {
    height: 50%;
    overflow: hidden;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.parts-list-header {
    width: 100%;
    text-align: center;

}

.part-list {
    height: 90%;
    overflow: scroll;
    padding: 5px;
}

.part-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .part-list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.list-item-heading-name {
    padding: 0 !important;
    width: 50%;
}

.list-item-heading-mass {
    padding: 0 !important;
    width: 17.5%;
}

.list-item-heading-com {
    padding: 0 !important;
    width: 33.5%;
}

.part-list-item-button {
    width: 100%;
    padding: 0px !important;
}


