.part-list-item {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: red;
}

.list-item-name {
    width: 30%;
}

.list-item-mass {
    width: 13.3%;
}

.list-item-com {
    width: 50%;
}