.parts-list-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.parts-list-header {
    width: 100%;
    text-align: center;

}

.part-list {
    height: 90%;
    overflow: scroll;
    padding: 0;
}

.part-list::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .part-list{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.list-item-title {
    text-align: center;
    border-top: 6px solid rgba(1, 1, 1, 0.1);
    border-bottom: 2px solid rgba(1, 1, 1, 0.1);
}

.list-item-heading-name {
    height: 100%;
    width: 30%;
}

.list-item-heading-mass {
    width: 13.3%;
}

.list-item-heading-com {
    width: 50%;
}

.part-list-item-button {
    width: 100%;
    padding: 0px !important;
}

.button-row {
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    background-color: white;
}

.button {
    margin: 0 1% !important;
    width: 31%;
}

.open-edit-part-button {
    /* These margins are here to help center the edit button between the other two buttons. */
    margin-left: 1.3% !important;
    margin-right: 1.3% !important;
}

.add-new-part-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: white;
    box-shadow: 24;
    padding: 20px;
}

.modal-input-row {
    width: 100%;
}

.modal-input {
    width: 31%;
    margin: 1% !important;
}

.modal-button-row {
    height: 10%;
    width: 100%;
}

.modal-button {
    width: 40%;
}

.modal-button-cancel {
    margin-right: 20% !important;
}
