.part-list-item {
    position: relative;
    padding: 0 !important;
    margin: 0;
    height: 50px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.list-item-name {
    width: 50%;
    overflow: hidden;
}

.list-item-mass {
    width: 12.5%;
    overflow: hidden;
}

.list-item-com {
    width:33.5%;
    overflow: hidden;
}

.list-item-com-val {
    display: inline-block;
    width: 30%;
}